<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div class="member-tab-item2 form-inline" id="delScore">
        消费金额
        <input class="form-control" type="text" name="account" value="{$prepaid_rules[account]}" id="man" disabled>元，积分
        <input class="form-control" type="text" name="benefit" value="{$score}" id="zhe" disabled>分
        <input class="form-control" type="hidden" name="id" value="{$prepaid_rules[id]}"/>
    </div>
</body>
</html>