<include file="Public/head"/>
<!-- 点餐页 -->
<body>
	<header class="home-header" id="restaurantInfo" data-restaurant_id="{$Think.get.restaurant_id}" data-desk_code="{$Think.get.desk_code}">
		<span>{$wx_order_title}</span>
	</header>

	<div class="order">
		<!-- 左边分类 start -->
		<div class="order-left">
			<ul class="sorts-list">
				<volist name = "info" id="v">
					<li>
						<a href="javascript:void(0)"  id="category_type" onclick="showtypefood({$v.food_category_id})">
							<!-- <img src="/{$v.image}"> -->
							<span>{$v.food_category_name}</span>
						</a>
					</li>
				</volist>
			</ul>
		</div> <!-- 左边分类 end -->

		<!-- 中间菜品列表 start -->
		<div class="order-content" id="food_info">
			<volist name = "info1" id = "v1">
					<div class="food-list">
						<a href="#foodModal" class="container-fluid"  data-toggle="modal" data-food_id="{$v1.food_id}" onclick="findfoodinfo(this)">
							<div class="row">
								<div class="col-xs-5 img-content">
									<div class="img-box">
										<img src="/{$v1.food_img}">
									</div>
									
								</div>
								<div class="col-xs-7">
									<div class="food-name">
										<span>{$v1.food_name}</span>
									</div>
									<div class="clearfix star-cayenne">
										<div class="pull-left">
											<div class="star">
												<if condition = "$v1.star_level eq 1">
													<span>★</span>
												</if>
												<if condition = "$v1.star_level eq 2">
													<span>★★</span>
												</if>
												<if condition = "$v1.star_level eq 3">
													<span>★★★</span>
												</if>
												<if condition = "$v1.star_level eq 4">
													<span>★★★★</span>
												</if>
												<if condition = "$v1.star_level eq 5">
													<span>★★★★★</span>
												</if>
											</div>
										</div>
										<div class="pull-right text-right">
											<div class="cayenne">
												<if condition = "$v1.hot_level eq 0">
													
												</if>
												<if condition = "$v1.hot_level eq 1">
													<img src="__PUBLIC__/images/cayenne.png">
												</if>
												<if condition = "$v1.hot_level eq 2">
													<img src="__PUBLIC__/images/cayenne.png">
													<img src="__PUBLIC__/images/cayenne.png">
												</if>
												<if condition = "$v1.hot_level eq 3">
													<img src="__PUBLIC__/images/cayenne.png">
													<img src="__PUBLIC__/images/cayenne.png">
													<img src="__PUBLIC__/images/cayenne.png">
												</if>
											</div>
										</div>
									</div>
									<div class="food-price">
										<span>&yen;{$v1.food_price}</span>
										<span>/份</span>
									</div>
								</div>
							</div>
							
						</a>						
					</div>
			</volist>
		</div><!-- 菜品列表 end -->
	</div>

	<footer class="home-footer">
		<button class="cart" data-toggle="modal" data-target="#cartModal" >
			<span class="glyphicon glyphicon-shopping-cart"></span>
			<div class="cart-num" id="numv">0</div>
		</button>
		<b>&yen;<span id="Total">0.00</span></b>
		<button type="button" class="btn-none common-btn" id="check-pay" onclick="PlaceOrder()">选好了</button>
	</footer>

	<!-- Modal -->	
	<div class="modal fade" id="foodModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" id="modelfood">

		</div>
	</div>

	<!-- Modal -->	
	<div class="modal fade" id="cartModal" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="btn-none" onclick="clearorder()">
						<span class="glyphicon glyphicon-trash"></span>
						<span>清空</span>
					</button>
					<span>购物车</span>
				</div>
				<div class="modal-body">
					<ul id="foodlist">
						<!--<li class="cart-item">
							<div class="cart-left">牛肉面牛肉面牛肉面牛肉面牛肉面牛肉面</div>
							<div class="cart-right">
								<button class="btn-none">
									<img src="__PUBLIC__/images/minus_btn.png">
								</button>
								<span>1</span>
								<button class="btn-none">
									<img src="__PUBLIC__/images/plus_mobile.png">
								</button>
								<span class="red">&yen;12.00元</span>
								<b></b>
							</div>
						</li>-->
					</ul>
				</div>
			</div>
		</div>

	</div>
</body>
<script>
	/*$(function(){
			var pagenum = $("table_num").val();
			if(!pagenum){
				pagenum = 000;
			}
			$('#Tables').html(pagenum);
		})*/
	function showtypefood(i){
		//alert(i);
		$.ajax({
			type:"get",
			url:"/index.php/Mobile/Index/showtypefood/type/"+i+"",
			//dataType:"json",
			success:function(data){
				$("#food_info").html(data);
			}
		});
	}
	
	function findfoodinfo(obj){
		var food_id = $(obj).data('food_id');
		console.log(food_id);
		$.ajax({
			type:"get",
			url:"/index.php/Mobile/Index/findfoodinfo/food_id/"+food_id+"",
			success:function(data){
				$("#modelfood").html(data);//加载模态框
			}
		});
	}
	
	function PlaceOrder(){
		var total = Number($("#Total").html()).toFixed(2);
		console.log(total);
		if (total == 0) {
			alert("尚没有添加菜品");
		} else {
			var list = {};
			$('#foodlist li').each(function(k,v){
				var temp = [];
				temp["0"] = $(this).data("food_id");
				temp["1"] = $(this).data("food_num");
				temp["2"] = $(this).data("attrs");
				list[k] = temp;
			});
			console.log(list);
			$.ajax({
				type: "post",
				url: "__CONTROLLER__/PlaceOrder/",
				data: list,
				dataType: 'json',
				success: function (data) {
					if (data.code == 1) {
						var order_sn = data.data['order_sn'];
						var Total = $("#Total").html();
						window.location.href = "/index.php/Mobile/Index/pay/order_sn/"+order_sn+"";
					}
				},
				error: function () {
					alert("there is a error!");
				}
			});
		}
	}
	
	$(function(){		
		if({$tpl['tplcolor2_id']}==0){
			$('#global-css').attr('href','__PUBLIC__/css/color_red.css');
		}else if({$tpl['tplcolor2_id']}==1){
			$('#global-css').attr('href','__PUBLIC__/css/color_blue.css');
		}else if({$tpl['tplcolor2_id']}==2){
			$('#global-css').attr('href','__PUBLIC__/css/color_green.css');
		}else if({$tpl['tplcolor2_id']}==3){
			$('#global-css').attr('href','__PUBLIC__/css/color_yellow.css');
		}else if({$tpl['tplcolor2_id']}==4){
			$('#global-css').attr('href','__PUBLIC__/css/color_black.css');
		}else{
			$('#global-css').attr('href','__PUBLIC__/css/color_orange.css');
		}	
	});

	//将店铺id和餐桌号保存在本地存储中
	$(function(){
		var restaurantInfo = $("#restaurantInfo").data();
		var restaurant_id = restaurantInfo["restaurant_id"];
		var desk_code = restaurantInfo["desk_code"];
		console.log(restaurant_id);
		console.log(desk_code);
		sessionStorage.setItem("restaurant_id",restaurant_id);
		sessionStorage.setItem("desk_code",desk_code);
	});
</script>
</html>